<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- <link rel="stylesheet" href="/styles/styles.css"> ejemplo de archivo est치tico -->
</head>
<body>
    
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/inicioSesion">Iniciar sesi칩n</a></li>
        <li><a href="/panelControl">Panel de control</a></li>
        <li><a href="/cerrarSesion">Cerrar sesi칩n</a></li>
        <li><a href="/sesiones">Revisi칩n sesiones</a></li>
    </ul>

    <h2><%= titulo %></h2>

    <h2>Bienvenido,</h2>

    

    <a href="http://127.0.0.1:5500/public/paginatest.html" target="_blank" >Ir a la tienda</a>

    
  </ul>
</body>
</html>
