<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>TIENDA DE DISCOS</h1>

    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/inicioSesion">Iniciar sesi칩n</a></li>
        <li><a href="/panelControl">Panel de control</a></li>
        <li><a href="/cerrarSesion">Cerrar sesi칩n</a></li>
        <li><a href="/sesiones">Revisi칩n sesiones</a></li>
    </ul>
    <h2>P치gina de error</h2>
    <%= mensaje %>
</body>
</html>